.header {
    background: gainsboro;
    height: 85px;
    padding-left: 20px; 
    padding-right: 20px; 
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header a{
    text-decoration: none;
    padding: 1rem;
    border-radius: 20px;
    color: currentColor;
    font-weight: 500;
}
.header a:hover{
    color:aliceblue;
    background-color: gray;
}


/* Media query for screens with a maximum width of 768px (typical for mobile screens) */
@media (max-width: 768px) {
    .header {
        padding-left: 10px;  
        padding-right: 10px; 
        height: 60px; 
        

        
    }
}

